.Registration{
    margin: 10rem 30rem;
    border: 0.1rem solid;
    display: flex;
    flex-direction: column;
    color: #61dafb;
    width: 50;
    height: 30rem;
    align-items: center;
    background-color: white;
    box-shadow: 0rem 0rem 1rem;
    
}
.Registration2{
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
}
.input{
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 15rem;
    background-color: whitesmoke;
}
.input:focus{
    outline: none;
}
.btn{
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    background-color: whitesmoke;
}
.text{
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .Registration{
        margin: 10rem 5rem;
        display: flex;
        flex-direction: column;
        color: #61dafb;
        width: fit-content;
        height: 30rem;
    }
    .Registration2{
        margin: 1rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;
    }
}